$form-bg: #053765;
$white: #ffffff;

$main: #1ab188;
$main-light: lighten($main,5%);
$main-dark: darken($main,5%);

$gray-light: #a0b3b0;
$gray: #ddd;
$red: #f30202;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;

$mobile-breakpoint: 768px;
$mobile-breakpointx480: 480px;